.textalive-media-wrapper{
    height: 0px;
    width: 0px;
}
  
  
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
  
  
  
#seekbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgba(0 255 255 / 40%);
  width: 100pw;
  margin-top: -10px;
}
#seekbar > div {
  width: 0;
  height: 100%;
  background: rgba(0 255 255 / 80%);
}

body{
  position:absolute
}
.startButton{
  margin-top: 50vh;
  margin-left: 50vw;
  position:absolute
}

.homeButton{
  margin-top: 50vh;
  margin-left: 50vw;
  position:absolute

}

.mediaInfo{
  position:absolute;
  width:100px; 
  height:20px;
  margin-top: -45px;
  margin-left: 80vw;
}

.inputChatBox{
  position:absolute;
  width: 70vw;
  margin-top:-45px;
  margin-left:20px;
}

.canvas{
  position: relative;
  z-index: -2
}